@use './colors.scss';
@use './size.scss';
@use './font.scss';
@use './align.scss';

@mixin input_main {
    background: colors.$xx-light-gray;
    border: 0;
    height: size.$large;
    border-radius: 3px;
    
}

@mixin button_text($color: colors.$white){
    font-family: font.$basic;
    font-size: size.$small;
    color: $color;
    user-select: none;
    
}

@mixin button ($baseColor: colors.$dark, 
               $hoverColor: colors.$dark-20,
               $activeColor: colors.$dark) {

    @include align.center;

    background-color: $baseColor;
    height: size.$x-large;
    border: 0;
    border-radius: 3px;
    transition: .15s;

    &:hover {
        background-color: $hoverColor;
        cursor: pointer;
        box-shadow: 0 2px 3px #888888;
        transform: translate(0, -2px);
        transition: .15s;
    } 

    &:active {
        transform: translate(0, -1px);
        box-shadow: 0 1px 1px #888888;
        background-color: $activeColor;
    }

    &:focus {
        border: 0;
        transition: .15s;
    }

}

@mixin link_main {
    font-family: font.$basic;
    font-size: size.$small;
    color: colors.$light;
    transition: .15s;
    &:hover {
        color: colors.$light-20;
        cursor: pointer;
        transition: .15s;
    }
}