@use './size.scss';
@use './colors.scss';

$normal: 'Times New Roman', Times, serif;
$basic: Verdana, Geneva, Tahoma, sans-serif;

@mixin title_basic {
    font-family: $basic;
    font-size: size.$large;
    color: black;
}

@mixin link {
    text-decoration: none;
    color: colors.$light;
    font-family: $basic;
    margin: size.$x-small;
    transition: .25s;

    &:hover {
        cursor: pointer;
        color: colors.$dark;
        transition: .25s;
    }
}

@mixin style1 {
    font-size: size.$large;
    font-weight: bolder;
    color: black;
}

@mixin style2 {
    font-size: size.$large;
    font-weight: normal;
    font-style: italic;
    color: black; 
}

@mixin style3 {
    font-size: size.$large;
    font-weight: normal;
    color: black;
}

@mixin style4 {
    color: gray
}

@mixin basic {
    font-family: $basic;
    font-size: size.$small;
    font-weight: normal;
    color: black; 
}

@mixin label {
    &--LABEL {
        font-weight: bold;
    }
}