@use './partials/colors.scss';

.NAV_BAR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 1rem #aaa;

    &__LINK {
        text-decoration: none;
        color: colors.$light;
        font-family: sans-serif;
        margin: 1rem;
        transition: .25s;

        &:hover {
            color: colors.$dark;
            transition: .25s;
        }

        &--SELECTED {
            text-decoration: underline;
        }

    }
}