
$font_serif: 'Times New Roman', Times, serif;


.RESUME-SECTION {
    font-family: $font_serif;

    &__HEADER {

        &__TITLE {
            font-size: 24px;
            font-weight: bolder;
        }
        &__DATES {

        }
        &__ORG {
            
        }
        &__CITY {

        }

    }
    
    &__SKILLS {

    }
    &__BULLETS {

    }
}