@use './partials/size';
@use './partials/font';

.RESUME {
    position: relative;
    padding: size.$small;
    margin-top: size.$small;
    max-width: 800px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-radius: size.$xx-small;
    box-shadow: 0 0 30px #888;
    transition: .3s;
    @media only screen and (max-width: 635px) {
        min-width: 335px;
        left: 0;
        transform: none;
    }

    @media only screen and (max-width: 850px) {
        margin: 0;
        background-color:white;
        max-width: none;
        box-shadow: none;
        border-radius: 0;
        transition: .3s;
    }

    &__TITLE {
        font-size: size.$masive;
    }
    
    &__HEADER {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media only screen and (max-width: 635px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__INFO {
                width: 100%;
            }
        }

        &__INFO {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            box-sizing: border-box;
            @media only screen and (max-width: 635px) {
                width: 100%;
            }

            &-ITEM {
                overflow-wrap: break-word;
                @include font.label;
            }
        }

        &__SKILLS {
            box-sizing: border-box;
            padding: size.$medium;
            width: 50%;
            font-size: size.$medium;
            @include font.label;
            @media only screen and (max-width: 635px) {
                width: 100%;
                padding: 0;
                padding-top: size.$medium;
            }
        }
    }

    &__SECTION-NAME {
        font-size: size.$xx-large;
        font-weight: bold;
        margin-top: size.$small;
    }
}